/* Slider  */
.carousel-inner,.carousel-inner,
.slider-container{
    width: 100% !important;
    height: 55vh !important;
    border-radius: 5px !important;
    background: transparent !important;
    position: relative;
}
.carousel-images{
    height: 55vh !important;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
    background-color: #078e2f;
}
.slider-caption{
    position: absolute;
    left: 80px;
    top: 30%;
}
.heading-text-slider{
    color: #DBD1D1;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
}
.number-text{
    color: rgba(255, 255, 255, 0.81);
    font-family: Montserrat;
    font-size: 84px;
    font-style: normal;
    font-weight: 900;
}
.carousel-indicators > button{
    width: 24px !important;
    height: 24px !important;
    border-radius: 100%;
    background-color: #ffffff98 !important;
}
.carousel-control-next{
    width: 85px;
    height: 50px;
    border: 1px solid rgba(35, 159, 73, 0.68);
    background: rgba(255, 255, 255, 0.00);
    position: absolute;
    right: 15%;
    top: 40%;
}
.button{
    width: 100%;
    height: 80px;
    border-radius: 5px;
    border: 1px solid rgba(5, 131, 210, 0.80);
    background: #239F49 ;
}
.button-text{
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

/* button checkin & checkout */
.button-check-out-in{
    width: 100%;
    height: 55px;
    border-radius: 5px;
    background: #239F49;
    border: none;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 800;
    border: 1.5px solid #239F49;
    transition: all 0.3s ease;
}
.button-check-out-in:hover{
    border: 1.5px solid #239F49;
    background: transparent;
    color: #239F49;
}
.visitor-button-check-out-in{
    width: 100%;
    height: 55px;
    border-radius: 5px;
    border: 1.5px solid #239F49;
    background: transparent;
    color: #078e2f;
    font-family: Montserrat;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 800;
    transition: all 0.3s ease;
}

.visitor-button-check-out-in:hover,.visitor-button-check-out-in:active{
    background: #239F49;
    color: #fff;
}
/* Student check-in-out Modal */
#video,#videoCheckIn{
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background: rgba(217, 217, 217, 0.00);
    transition: all 0.3s ease;
}
#scanHeading,#resultHeading,.scanHeading,.resultHeading{
    color: rgba(0, 0, 0, 0.78);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}
#scan-sub-heading,.scan-sub-heading{
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    }

.result-qr-code-container{
        width: 100%;
        border-radius: 5px;
        border: 1px dashed rgba(35, 159, 73, 0.69);
        background: rgba(217, 217, 217, 0.00);
    }

.check-out-time,#current-time,.current-time,.check-in-time,#checkInTime{
        color: #000;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
    }
.student-details{
        color: #239F49;
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        object-fit: contain;
    }
#student-profile,.student-profile{
        width: 100%;
        height: 190px;
        border-radius: 5px;
        background: #dbdbdb;
    }
.checkinout-confrim-button,.checkinout-confirm-button{
        background: #239F49;
        border: none;
        height: 42px;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;

    }
#resultERR,#resulterror{
    color: red;
    font-weight: 700;
    font-family: Montserrat;
    font-size: 16px;
}

/* Visitor check in Modal */
.VisitorType{
    width: 50%;
    height: 50px;
    border: 1.5px solid #239F49;
    background: #fff;
    transition: all 0.3s ease;
    border-radius: 3px;
}
.VisitorType:hover{
    background: #239F49;
    color: #fff;
}
.visitorModalContent{
    border-radius: 20px;
    border: 1.5px solid #078e2f8d;
}
.visitor-check-modal-heading{
    color: rgba(0, 0, 0, 0.788);
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
}
.visitorModalInput{
    height: 40px;
    border: 1px solid rgba(35, 159, 73, 0.25);
    background: #FFF;
    font-family: Hind Madurai;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.visitorModalInputTextArea{
    border: 1px solid rgba(35, 159, 73, 0.25);
    background: #FFF;
    font-family: Hind Madurai;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.visitorModalInput:focus,.visitorModalInputTextArea:focus{
    border: 1px solid #078e2f;
    outline: #078e2f;
}
::placeholder {
    color: rgba(0, 0, 0, 0.56);
  }
input:not(:placeholder-shown) {
    color: #000;
  }
.error-border{
    border: 1.3px solid red !important;
}
.error-message{
    font-size: 12px;
    color: rgb(239, 43, 43);
}

.visitorCheckmodalButton{
    border-radius: 10px;
    background: #239F49;
    border: none;
    height: 45px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
}

/* Change the color and size of the scrollbar */
/* For Webkit based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 6px; 
  }
  
::-webkit-scrollbar-thumb {
    background: #F56E2C !important;
    border-radius: 5px !important;
    height: 30px !important;
}

  
  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #F56E2C;
  }
  


/* Responsize Size Screen css code */
@media (max-width:757px){
    .carousel-inner,.carousel-inner,.slider-container{
        width: 100% !important;
        height: 40vh !important;
    }
    .carousel-images{
        height: 60vh !important;
        object-fit: cover !important;

    }
    .slider-caption{
        position: absolute;
        left: 50px;
        top: 70px;
    }
    .heading-text-slider{
        font-size: 16px;
        line-height: 20px;
    }
    .number-text{
        font-size: 54px;
    }
    .carousel-control-next{
        display: none;
    }
    .dashboard-button-container{
        margin-top: 15px !important;
    }
    .visitor-button-check-out-in,.button-check-out-in{
        margin-top: 15px;
    }
}


