/* button checkin & checkout */
.button-check-out-in{
    width: 100%;
    height: 55px;
    border-radius: 5px;
    font-family: Montserrat;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 800;
    border: 1.5px solid #239F49;
    background: transparent;
    color: #239F49;
    border: 1.5px solid #239F49;
    transition: all 0.3s ease;
}
.button-check-out-in:hover{
    background: #239F49;
    color: #FFF;

}

/* Student check-in-out Modal */
#video,#videoCheckIn{
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background: rgba(217, 217, 217, 0.00);
    transition: all 0.3s ease;
}
#scanHeading,#resultHeading,.scanHeading,.resultHeading{
    color: rgba(0, 0, 0, 0.78);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}
#scan-sub-heading,.scan-sub-heading{
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    }

.result-qr-code-container{
        width: 100%;
        border-radius: 5px;
        border: 1px dashed rgba(35, 159, 73, 0.69);
        background: rgba(217, 217, 217, 0.00);
    }

.check-out-time,#current-time,.current-time,.check-in-time,#checkInTime{
        color: #000;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
    }
.student-details{
        color: #239F49;
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
    }
#student-profile,.student-profile{
        width: 100%;
        height: 190px;
        border-radius: 5px;
    }
.checkinout-confrim-button{
        background: #239F49;
        border: none;
        height: 42px;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;

    }
.checkinout-confirm-button-active{
    background: #239F49;
    border: none;
    height: 42px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.checkinout-confirm-button-inactive{
    background: #262b27;
    border: none;
    height: 42px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
#resultERR,#resulterror{
    color: red;
    font-weight: 700;
    font-family: Montserrat;
    font-size: 16px;
}

.userCount{
    width: 100%;
    height: 102px;
    border-radius: 5px;
    border: 1.5px solid rgba(35, 159, 73, 0.71);
    background: #FFF;
    box-shadow: rgba(5, 132, 53, 0.24) 0px 3px 8px;
    transition: all 0.3s ease;
}
.userCount:hover{
    background-color:rgb(35, 159, 72);
    color: #fff !important;

}
.user-number{
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
}
.userType{
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    }
.table-bordered{
        border: 1px solid rgba(35, 159, 73, 0.47) !important;
        background: #FFF;
        border-collapse: separate;
        border-spacing: 0;
        width: 100%;
        border-top-left-radius: 5px; 
        border-top-right-radius: 5px; 
    }
.table-title{
        background: #239F49 !important;
        color: #FFF;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        height: 45px;
        padding-bottom: 20px;
    }
.rounded-top-left {
        border-top-left-radius: 5px; 
    }
.rounded-top-right {
        border-top-right-radius: 5px;
    }
tr > td{
        border-bottom:1px solid rgba(35, 159, 73, 0.47) !important;
        color: rgba(0, 0, 0, 0.64);
        font-family: Hind Madurai;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
    }
 .checkIn{
    border: none;
    background: transparent;
    color: #F73737;
    font-family: Hind Madurai;
    font-size: 13px;
    font-style: normal;
    font-weight: 800;
 }
/* button checkin & checkout */
.button-check-out-in{
    width: 100%;
    height: 55px;
    border-radius: 5px;
    background: #239F49;
    border: none;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 800;
    border: 1.5px solid #239F49;
    transition: all 0.3s ease;
}
.button-check-out-in:hover{
    border: 1.5px solid #239F49;
    background: transparent;
    color: #239F49;
}
.visitor-button-check-out-in{
    width: 100%;
    height: 55px;
    border-radius: 5px;
    border: 1.5px solid #239F49;
    background: transparent;
    color: #078e2f;
    font-family: Montserrat;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 800;
    transition: all 0.3s ease;
}

.visitor-button-check-out-in:hover,.visitor-button-check-out-in:active{
    background: #239F49;
    color: #fff;
}

/* Student check-in-out Modal */
#video,#videoCheckIn{
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background: rgba(217, 217, 217, 0.00);
    transition: all 0.3s ease;
}
#scanHeading,#resultHeading,.scanHeading,.resultHeading{
    color: rgba(0, 0, 0, 0.78);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}
#scan-sub-heading,.scan-sub-heading{
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    }

.result-qr-code-container{
        width: 100%;
        border-radius: 5px;
        border: 1px dashed rgba(35, 159, 73, 0.69);
        background: rgba(217, 217, 217, 0.00);
    }

.check-out-time,#current-time,.current-time,.check-in-time,#checkInTime{
        color: #000;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
    }
.student-details{
        color: #239F49;
        font-family: Montserrat;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
    }
#student-profile,.student-profile{
        width: 100%;
        height: 190px;
        border-radius: 5px;
        object-fit: cover;
        object-position: center;
    }
.checkinout-confrim-button,.checkinout-confirm-button{
        background: #239F49;
        border: none;
        height: 42px;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;

    }
.StudentModalInput{
        height: 40px;
        border: 1px solid rgba(35, 159, 73, 0.25);
        background: #FFF;
        font-family: Hind Madurai;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
    }
.StudentModalInput:focus{
        border: 1px solid #078e2f;
        outline: #078e2f;
    }

/* Visitor record  */
.noOfVisitorButton{
    background: transparent;
    border: none;
    text-align: center;
}
.VisitorNumber{
    width: 30px;
    height: 20px;
    border-radius: 2px;
    border: 1.5px solid #f56f2c9c;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00000096;
    font-weight: 700;
    font-size: 10px;
    transition: all 0.3s ease;
}
.VisitorNumber:hover{
    background-color: #f56f2c;
    color: #fff;
    font-weight: 900;
}
.vistornamesHeading{
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}
.visitorsName{
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

/* Visitor check in Modal */ 
.VisitorType{
    width: 50%;
    height: 50px;
    border: 1.5px solid #239F49;
    background: #fff;
    transition: all 0.3s ease;
    border-radius: 3px;
}
.VisitorType:hover{
    background: #239F49;
    color: #fff;
}
.visitorModalContent{
    border-radius: 20px;
    border: 1.5px solid #078e2f8d;
}
.visitor-check-modal-heading{
    color: rgba(0, 0, 0, 0.788);
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
}
.visitorModalInput{
    height: 40px;
    border: 1px solid rgba(35, 159, 73, 0.25);
    background: #FFF;
    font-family: Hind Madurai;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.visitorModalInputTextArea{
    border: 1px solid rgba(35, 159, 73, 0.25);
    background: #FFF;
    font-family: Hind Madurai;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.visitorModalInput:focus,.visitorModalInputTextArea:focus{
    border: 1px solid #078e2f;
    outline: #078e2f;
}
::placeholder {
    color: rgba(0, 0, 0, 0.56);
  }
input:not(:placeholder-shown) {
    color: #000;
  }
.error-border{
    border: 1.3px solid red !important;
}
.error-message{
    font-size: 12px;
    color: rgb(239, 43, 43);
}

.visitorCheckmodalButton{
    border-radius: 10px;
    background: #239F49;
    border: none;
    height: 45px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
}





/* Change the color and size of the scrollbar */
/* For Webkit based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 6px; 
  }
  
::-webkit-scrollbar-thumb {
    background: #F56E2C !important;
    border-radius: 5px !important;
    height: 30px !important;
}

  
  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #F56E2C;
  }