@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: Hind Madurai;
}
.fade-in {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

.fade-in.active {
    opacity: 1;
}

.side-bar{
    background: #F56E2C !important;
    padding-inline: 40px;
}
#logo{
    height: 84px;
}
.nav-item > .nav-link{
    color: #FFF !important;
    font-family: Montserrat !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    color: #FFF;
    letter-spacing: 0.3px;
    transition: all 0.3s ease;
    position: relative;
}
.active-nav::before{
    content: '';
    height: 24px;
    width: 8px;
    border-radius: 2px;
    background-color: #e6e3e3;
    transition: all 0.3s ease;
}
.nav-item > .nav-link-item:not(.active-nav):hover::before {
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 100px;
    background-color: #fff;
    position: absolute;
    left: 0px;
}
.dashboard-content-section{
    padding-left: 20px;
    padding-right: 40px;
}
.header{
    height: 84px;
    background: #fff;
    border-bottom: 1px solid rgba(160, 160, 160, 0.479);
    z-index: 999;
}

.header{
    padding-left: 20px;
    padding-right: 40px;
}
.dashboard-heading{
    color: rgba(0, 0, 0, 0.80);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}
.profile-img{
    width: 27px;
    height: 27px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
    border: 2px solid #fa710143;
}
.username{
    color: rgba(0, 0, 0, 0.90);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.logout-button-drop-down{
    background: transparent !important;
    border: none;
}
.logout-dropdown-body{
    height: 80px;
    width: 200px;
    border-radius: 0px 0px 20px 20px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(60, 158, 220, 0.14);
}
.logout-button{
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-inline:45px;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    border-radius: 2px;
    background: #239F49;
    border: none;
    color:#fff;
}
.logout-button:hover{
    color: #fff !important;
}

.page-link{
    color: #F56E2C !important;
    font-weight: 500;
    border: 1px solid #F56E2C !important;
}
.page-link:hover{
    background: #F56E2C !important;
    color:#fff !important ;

}
.page-item.active .page-link{
    background-color: #F56E2C !important;
    border: 1px solid #f25405 !important;
    color: #fff !important;
    font-weight: 600;
}
.page-item.disabled .page-link{
    border: 1px solid #f56f2c64 !important;
    color: #f56f2c69 !important;
}



/* Responsize Size Screen css code */
@media (max-width:757px){
    html{
        overflow-y: scroll;
    }
    .side-bar{
        height: auto !important;
        z-index: 999;
        display: none;
        overflow-y: scroll;
    }
    .side-menu-button{
        background: transparent;
        justify-content: center;
        align-items: center;
        border: none;
    }
    .menu-bar{
        display: flex !important;
        align-items: end;
        padding: 0px !important;
        width: 40px;
        height: 40px;
    }
    .profile-img{
        width: 38px;
        height: 38px;
    }

    .choose-profile-image,.dashboard-heading,.username{
        display: none;
    }
    .Studentleave-and-outofcampus{
        border: none !important;
    } 
}