.buttonAll{
    border-left:1.5px solid #F56E2C !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
.buttonActive{
    border: 1.5px solid #F56E2C;
    background: #F56E2C !important;
    color: #FFF !important;
}
.sortStudentButtonBlock {
    border-top: 1.5px solid #F56E2C;
    border-right: 1.5px solid #F56E2C;
    border-bottom: 1.5px solid #F56E2C;
    border-left: none;
    background: #FFF;
    height: 35px;
    transition: all 0.3s ease;
}
.sortStudentButtonBlock:hover{
    background: #F56E2C;
    color: #fff;
}
.sortStudentButtonBlock:focus{
    background: #F56E2C;
    color: #fff;
}
.table-bordered{
    border: 1px solid rgba(35, 159, 73, 0.47) !important;
    background: #FFF;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
}
.table-title{
    background: #239F49 !important;
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    height: 45px;
    padding-bottom: 20px;
}
.rounded-top-left {
    border-top-left-radius: 5px; 
}
.rounded-top-right {
    border-top-right-radius: 5px;
}
tr > td{
    border-bottom:1px solid rgba(35, 159, 73, 0.47) !important;
    color: rgb(0, 0, 0);
    font-family: Hind Madurai;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.numberStudentleave,.sortStudent{
    border-radius: 10px;
    background: #239F49;
    height: 76px;
}
