/* add student and users */
.button{
    width: 100%;
    height: 60px;
    border-radius: 5px;
    border: 1px solid rgba(5, 131, 210, 0.80);
    background: #239F49 ;
}
.button-text{
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

/* add new user form */
#adduserlabel{
    color: rgba(0, 0, 0, 0.72);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}
.userInput{
    height: 40px !important;
}

.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../../images/down-arrow.png); /* Set your custom arrow image */
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center; /* Adjust the right padding (20px in this example) */
    padding-right: 20px; /* Adjust the right padding as needed */
}
.userbutton{
    height: 43px;
    border: 1px solid rgba(0, 0, 0, 0.21);
    background: #239F49;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

/* Add new student modal */
.addStudentModal{
    border-radius: 20px !important;
}
.addstudent-heading{
    color: rgba(0, 0, 0, 0.72);
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}
.addnewStudent-sub-heading{
    color: #000000a5;
    font-family: Hind Madurai;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}
.addStudentFileButton{
    height: 43px;
    background: #239F49;
    border: 1.5px solid #239F49;
    color: #fff;
    font-family: Hind Madurai;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    border: none;
    margin-top:20px;
    transition: all 0.3s ease; 
}
.addStudentFileButton:active{
    border: 1.5px solid #239F49;
    background: transparent;
    color: #239F49;
}
.addMuallyButton{
    height: 43px;
    border: 1px solid #239F49;
    background: rgba(0, 0, 0, 0.00);
    font-family: Hind Madurai;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    transition: all 0.3s ease; 
}
.addMuallyButton:active{
    background:#239F49;
    color: #fff;
}
.excelFileInput{
    height: 43px;
    border: 1px solid rgba(0, 0, 0, 0.44);
    background: #FFF;
    
}
.custom-file-upload {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    height: 43px;
    border: 1px solid rgba(0, 0, 0, 0.44);
    background: #FFF;
    color: rgba(0, 0, 0, 0.66);
    font-family: Hind Madurai;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    padding-inline: 16px;
    transition: all 0.3s ease; 
}
.custom-file-upload:active{
    border: 2px solid #239F49;
}

.custom-file-upload input[type="file"] {
    display: none; /* Hide the actual file input */
}

/* Add Student Manaully Modal */
.addstudentInput{
    height: 40px !important;
}
::placeholder{
    color: rgba(0, 0, 0, 0.58);
    font-family: Hind Madurai;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
  }
.optionInput {
    color: rgba(0, 0, 0, 0.879);
    font-family: Hind Madurai;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
  }
input:not(:placeholder-shown) {
    color: #000;
}
.selectOptions:hover{
    background-color: red;
    font-size: 50px !important;
}


.apexcharts-toolbar {
    display: none !important;
}



