.student-sorting{
    border-radius: 5px;
    width: 100%;
    height: 61px;
    border: 1px solid rgba(0, 0, 0, 0.164);
    background: rgba(238, 238, 238, 0.22);
}
.student-number{
    color: rgba(0, 0, 0, 0.67);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}
.s-total-number{
    color: rgba(0, 0, 0, 0.67);
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 900;
}
.searchContainer{
    background: #FFF;
    width: 411px;
    height: 43px;
    border-radius: 5px;
    position: relative;
    margin-top: 20px;
}
#searchIcon {
    position: absolute;
    top: 50%;
    right: 20px; 
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
}
.student-search-input{
    border: 1px solid rgba(202, 75, 18, 0.60);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 0.41);
    font-family: Hind Madurai;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    padding-right: 60px !important;
}
.action-button{
    background: transparent;
    border: none;
}


.table-bordered{
    border: 1px solid rgba(35, 159, 73, 0.47) !important;
    background: #FFF;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
}
.table-title{
    background: #239F49 !important;
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    height: 45px;
    padding-bottom: 20px;
}
.rounded-top-left {
    border-top-left-radius: 5px; 
}
.rounded-top-right {
    border-top-right-radius: 5px;
}
tr > td{
    border-bottom:1px solid rgba(35, 159, 73, 0.47) !important;
    color: rgba(0, 0, 0, 0.64);
    font-family: Hind Madurai;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
}
.actionbutton > button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    border-radius: 5px;
    border: none;
}
.editButton{
    background: rgba(25, 250, 21, 0.56);
}
.deleteButton{
    background: rgba(233, 109, 109, 0.77);

}



/* Delete Modal */
.button-add-student{
    width: 220px;
    height: 35px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    background: #239F49;

}
.deleteModal{
    border-radius: 20px !important;
}
.deleteModalTitle{
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}
.confirm-text{
    color: #000;
    font-family: Hind Madurai;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.btnDeleteYes{
    width: 159px;
    height: 34px;
    background: #FF4D4D;
    border: none;
    color: #FFF;
    font-family: Hind Madurai;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}
.btnCancel{
    width: 159px;
    height: 34px;
    border: 1px solid rgba(233, 109, 109, 0.95);
    background: rgba(255, 77, 77, 0.00);
    color: #000;
    font-family: Hind Madurai;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

/* Add new student modal */
.addStudentModal{
    border-radius: 20px !important;
}
.addstudent-heading{
    color: rgba(0, 0, 0, 0.72);
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}
.addnewStudent-sub-heading{
    color: #000000a5;
    font-family: Hind Madurai;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}
.addStudentFileButton{
    height: 43px;
    background: #239F49;
    border: 1.5px solid #239F49;
    color: #fff;
    font-family: Hind Madurai;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    border: none;
    margin-top:20px;
    transition: all 0.3s ease; 
}
.addStudentFileButton:active{
    border: 1.5px solid #239F49;
    background: transparent;
    color: #239F49;
}
.dropdown-item:active{
    background: transparent !important;
    color: #000 !important;
    border-radius: 5px;
    border: 1px solid #239F49;
}
.addMuallyButton{
    height: 43px;
    border: 1px solid #239F49;
    background: rgba(0, 0, 0, 0.00);
    font-family: Hind Madurai;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    transition: all 0.3s ease; 
}
.addMuallyButton:active{
    background:#239F49;
    color: #fff;
}
.excelFileInput{
    height: 43px;
    border: 1px solid rgba(0, 0, 0, 0.44);
    background: #FFF;
    
}
.custom-file-upload {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    height: 43px;
    border: 1px solid rgba(0, 0, 0, 0.44);
    background: #FFF;
    color: rgba(0, 0, 0, 0.66);
    font-family: Hind Madurai;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    padding-inline: 16px;
    transition: all 0.3s ease; 
}
.custom-file-upload:active{
    border: 2px solid #239F49;
}

.custom-file-upload input[type="file"] {
    display: none; /* Hide the actual file input */
}

/* Add Student Manaully Modal */
.addstudentInput{
    height: 40px !important;
}
::placeholder{
    color: rgba(0, 0, 0, 0.58);
    font-family: Hind Madurai;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
  }
.optionInput {
    color: rgba(0, 0, 0, 0.879);
    font-family: Hind Madurai;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
  }
input:not(:placeholder-shown) {
    color: #000;
}
.selectOptions:hover{
    background-color: red;
    font-size: 50px !important;
}


#progress-bar {
    display: none;
}

.prerequisite-message> li{
    font-size: 13px;
    line-height: 20px;
    color: #F56E2C;
}
.uploadMultiple-images{
    width: 100%;
    height: 100px;
    border: 1.5px solid #239F49;
    border-radius: 10px;
    transition: all 0.6s ease;
    display: flex;
    flex-direction: column;
    gap: 2;
    justify-content: center;
    align-items: center;
}
.uploadMultiple-images:hover{
    box-shadow: rgba(2, 248, 141, 0.12) 0px 2px 4px 0px, rgba(4, 239, 157, 0.32) 0px 2px 16px 0px;
}