.buttonAll{
    border-left:1.5px solid #F56E2C !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
.buttonActive{
    border: 1.5px solid #F56E2C;
    background: #F56E2C !important;
    color: #FFF !important;
}
.sortStudentButtonBlock {
    border-top: 1.5px solid #F56E2C;
    border-right: 1.5px solid #F56E2C;
    border-bottom: 1.5px solid #F56E2C;
    border-left: none;
    background: #FFF;
    font-size: 14px;
    height: 35px;
    transition: all 0.3s ease;
}
.sortStudentButtonBlock:hover{
    background: #F56E2C;
    color: #fff;
}
.sortStudentButtonBlock:focus{
    background: #F56E2C;
    color: #fff;
}
.searchForm{
    width: 290px;
    height: 35px;
    background: #FFF;
    font-family: Hind Madurai;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    }
#searchIcon {
        position: absolute;
        top: 50%;
        right: 10px; /* Make sure to include a unit (e.g., px) */
        transform: translateY(-50%);
        border: none;
        background-color: transparent;
    }
#search{
    border-radius: 5px;
    padding-right: 50px !important;
}
    
.addNewuser{
    width: 204px;
    height: 35px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    background: #239F49;
}



/* add new user form */
#adduserlabel{
    color: rgba(0, 0, 0, 0.72);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}
.userInput{
    height: 40px !important;
}

.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../../images/down-arrow.png); /* Set your custom arrow image */
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center; /* Adjust the right padding (20px in this example) */
    padding-right: 20px; /* Adjust the right padding as needed */
}
.userbutton{
    height: 43px;
    border: 1px solid rgba(0, 0, 0, 0.21);
    background: #239F49;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;

}
/* user counts */
.userCount{
    width: 100%;
    height: 102px;
    border-radius: 5px;
    border: 1px solid rgba(35, 159, 73, 0.77);
    background: rgba(35, 159, 73, 0.19);
}
.user-number{
    color: rgba(0, 0, 0, 0.59);
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
}
.userType{
    color: rgba(0, 0, 0, 0.59);
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    }


/* user table */
.table-bordered{
    border: 1px solid rgba(35, 159, 73, 0.47) !important;
    background: #FFF;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
}
.table-title{
    background: #239F49 !important;
    color: #FFF;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    height: 45px;
    padding-bottom: 20px;
}
.rounded-top-left {
    border-top-left-radius: 5px; 
}
.rounded-top-right {
    border-top-right-radius: 5px;
}
tr > td{
    border-bottom:1px solid rgba(35, 159, 73, 0.47) !important;
    color: rgba(0, 0, 0, 0.64);
    font-family: Hind Madurai;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}
.actionbutton > button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 30px;
    border-radius: 5px;
    border: none;
}
.editButton{
    background: rgba(25, 250, 21, 0.56);
}
.deleteButton{
    background: rgba(233, 109, 109, 0.77);

}

/* Delete Modal */
.button-add-student{
    width: 220px;
    height: 35px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    background: #239F49;

}
.deleteModal{
    border-radius: 20px !important;
}
.deleteModalTitle{
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}
.confirm-text{
    color: #000;
    font-family: Hind Madurai;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.btnDeleteYes{
    width: 159px;
    height: 34px;
    background: #FF4D4D;
    border: none;
    color: #FFF;
    font-family: Hind Madurai;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}
.btnCancel{
    width: 159px;
    height: 34px;
    border: 1px solid rgba(233, 109, 109, 0.95);
    background: rgba(255, 77, 77, 0.00);
    color: #000;
    font-family: Hind Madurai;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}




