@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.homecontainer{
    min-height: 100vh;
    background: linear-gradient(180deg, rgb(1, 40, 57) 0%, rgba(1, 6, 8, 0.66) 100%), url("../../images/homebg.jpg"), lightgray 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.login-button{
    width: 250px !important;
    height: 46px !important;
    border-radius: 50px;
    background: #F56E2C;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all 0.1s linear;
}
.login-button:hover{
    color: #fff;
}
   
.login-button:active {
    transform: scale(0.95);
   }
.home-content{
    height: 60vh !important;
    width: 100% !important;
}
.home-heading{
    color: rgba(255, 255, 255, 0.669);
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
}
.visitor-button{
    width: 350px;
    height: 58px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.42);
    background: rgba(35, 159, 73, 0.30);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    color: rgba(255, 255, 255, 0.65);
    text-align: center;
    font-family: Hind Madurai;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    transition: all 0.3s ease;
}
.student-leave-button{
    width: 350px;
    height: 58px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.42);
    background: rgba(255, 113, 49, 0.27);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    color: rgba(255, 255, 255, 0.65);
    text-align: center;
    font-family: Hind Madurai;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    transition: all 0.3s ease;
}
.visitor-button:hover{
    background-color: #239F49;
}
.student-leave-button:hover{
    background-color: #F56E2C;

}

.modal-header,.modal-footer{
    border: none !important;
}
.modal-title{
    color: rgba(0, 0, 0, 0.72);
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}
.close{
    border: none !important;
    background: transparent !important;
}
.error-border{
    border: 1.3px solid red !important;
}
.error-message{
    font-size: 12px;
    color: rgb(239, 43, 43);
}

/* student leave form */
.student-leave-input{
    height: 43px;
    color: rgba(0, 0, 0, 0.58);
    font-family: Hind Madurai;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.reason-input{
    color: rgba(0, 0, 0, 0.58);
    font-family: Hind Madurai;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

}
.input-group{
    border: 1px solid;
}

.input-group-text,.date{
    background-color: transparent !important;
    border: none;
    color: rgba(0, 0, 0, 0.925);
    font-family: Hind Madurai;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.student-leave-button-submit{
    height: 43px;
    font-family: Hind Madura;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}
.student-leave-button-submit {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #F56E2C ;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
    color: #fff;
   }
   .student-leave-button-submit:hover{
    color: #fff;
   }


/* Change the color and size of the scrollbar */
/* For Webkit based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 3px; 
  }
  
::-webkit-scrollbar-thumb {
    background: #F56E2C !important;
    border-radius: 5px !important;
    height: 30px !important;
}

  
  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #F56E2C;
  }

  .notification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3fb906;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    width: 50%;
    transition: right 0.5s;
  }
  .notication-text{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
  }

  .close-notification {
        cursor: pointer;
        font-size: 16px;
    }

  .close-notification svg {
        fill: #fff;
    }


    /* loading */
    .loader {
        width: 100px; /* Increase the width to 100px */
        height: 100px; /* Increase the height to 100px */
        display: inline-block;
        position: relative;
        border-width: 6px 4px 6px 4px; /* Increase the border-width values */
        border-style: solid dotted solid dotted;
        border-color: #F56E2C rgba(255, 255, 255, 0.3) #239F49 rgba(151, 107, 93, 0.3);
        border-radius: 50%;
        box-sizing: border-box;
        animation: 1s rotate linear infinite;
      }
      
      .loader:before,
      .loader:after {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        border: 20px solid transparent; /* Increase the border size to 20px */
        border-bottom-color: #3fb906;
        transform: translate(-20px, 38px) rotate(-35deg); /* Adjust the translation values */
      }
      
      .loader:after {
        border-color: #F56E2C #0000 #0000 #0000;
        transform: translate(64px, 6px) rotate(-35deg); /* Adjust the translation values */
      }
      
      @keyframes rotate {
        100% {
          transform: rotate(360deg);
        }
      }
    /* ValidationErrorMessage */
    .ValidationErrorMessage{
        font-size: 14px;
        padding-top: 7px;
    }
    .error-input {
        border: 1px solid red !important;
    }
  

/* Responsize Size Screen css code */
@media (max-width:757px){
    html{
        overflow-y: scroll;
    }
    .login-button{
        width: 100px !important;
        height: 40px !important;
    }
    .home-heading{
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        line-height: 40px;
    }

}

#dashboard> a{
   text-decoration: none !important;
   text-transform: uppercase;
   color: #FFF;
   font-weight: 700;
}
