@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.login-container{
    min-height: 100vh;
    background: #ffffff;
    overflow: hidden !important;
}
.left-section > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: right;
}
.right-section{
    padding-inline: 75px;
    background-color: #F56E2C;
}
.signin-heading{
    color: #FFF;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}
.sign-in-input{
    height: 44px;
    color: #fff;
    font-family: Hind Madurai;
    font-size: 17px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.10);
    position: relative;
}
input[type="password"]::placeholder,input[type="email"]::placeholder{
    color: rgba(255, 255, 255, 0.74);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

}
.sign-in-input:focus{
    background-color: #e35f1dc2;
    outline: 1px solid #fcfcfc;
}
.sign-button{
    height: 44px;
    background: #FFF;
    color: #E35E1D;
    text-align: center;
    font-family: Hind Madurai;
    border: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.sign-button:active{
    transform: scale(0.95);

}
.sign-button:hover{
    background:transparent;
    color: #fff;
    border: 1.5px solid #fff;
}
.forgot-password{
    color: #FFF;
    text-align: right;
    font-family: Hind Madurai;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 34.523%; /* 5.524px */
    text-decoration-line: underline;
}

.eye-icon{
    position: absolute;
    right: 10px;
    top: 11px;
    background: transparent;
    outline: none;
    border: none !important;
    color: #ffffff !important;
}


/* Add this CSS to your login.css file or within a <style> tag in your HTML */
.loader-container {
    display: none;
    position: relative;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #3498db;
    border-top: 3px solid transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

@media (max-width:754px) {
    .left-section{
        display: none;
    }
    .right-section{
        padding-inline: 15px !important;
        background-color: #F56E2C;
    }
    
}
@media (max-width:900px) {
    .right-section{
        padding-inline: 0px;
        background-color: #F56E2C;
    }
    .left-section > img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: right;
    }
    
}
.forgot-password:hover{
    color: #FFF !important;

}
