.profile-update-content{
    width: 100%;
    min-height: 80vh;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    background: rgba(238, 238, 238, 0.44);
}
.reset-password{
    width: 100%;
    min-height: 80vh;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    background: rgba(238, 238, 238, 0.44);
}
.profile-heading{
    color: rgba(0, 0, 0, 0.88);
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
}
.profile-image-container{
    background-image: url('../images/profile-circle.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-image-container > img{
    border-radius: 60px;
    width: 60px;
    height: 60px;
}

/* profile update */
.profile-upadte-input{
    height: 39px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.121);
    background: #FFF;
    color: rgba(0, 0, 0, 0.66);
    font-family: Hind Madurai;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    
}
.custom-file-upload {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    height: 39px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.121);
    background: #FFF;
    color: rgba(0, 0, 0, 0.66);
    font-family: Hind Madurai;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    padding-inline: 14px;  
}
.choose-profile-image{
    height: 20px;
    width: 60px;
    object-fit: cover;
    object-position: center;
    border: 1.5px solid #00000048;
}
.custom-file-upload input[type="file"] {
    display: none; /* Hide the actual file input */
}

.saveButton{
    height: 43px;
    border-radius: 10px;
    background: #F56E2C;
    border: none;
    color: rgba(255, 255, 255, 0.94);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

/* Reset password */
.resetPassword-input{
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.121);
    background: #FFF;
    color: rgba(0, 0, 0, 0.368);
    font-family: Hind Madurai;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    }
.resetpasswordButton{
    height: 43px;
    border-radius: 10px;
    background: #239F49;
    border: none;
    color: rgba(255, 255, 255, 0.94);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}