/* Studentleave-and-outofcampus */
.Studentleave-and-outofcampus{
    min-height: 200px;
    background-color: #fff;
    border: 1.4px solid rgba(7, 111, 47, 0.258);
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.studentcountHeading{
    font-weight: 700;
    font-family: Montserrat;
    font-size: 18px;
}
.apexcharts-toolbar {
    display: none !important;
}
/* studentCountConatiner section */
.studentCountConatiner{
    height: 100px;
    border-radius: 5px;
    border: 1.4px solid rgba(7, 111, 47, 0.758);
    background: rgba(5, 184, 80, 0);
    transition: all 0.4s ease;
}
.studentCountConatiner:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.countNumber{
    color: rgba(0, 0, 0, 0.68);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 900;
}
.countText{
    color: rgba(0, 0, 0, 0.72);
    font-family: Hind Madurai;
    font-size: 16px;
    font-weight: 400;
}


/* Responsize Size Screen css code */
@media (max-width:757px){
    .carousel-inner,.carousel-inner,.slider-container{
        width: 100% !important;
        height: 40vh !important;
    }
    .carousel-images{
        height: 60vh !important;
        object-fit: cover !important;

    }
    .slider-caption{
        position: absolute;
        left: 50px;
        top: 70px;
    }
    .heading-text-slider{
        font-size: 16px;
        line-height: 20px;
    }
    .number-text{
        font-size: 54px;
    }
    .carousel-control-next{
        display: none;
    }
      
}


