.table-bordered{
    border: 1px solid rgba(35, 159, 73, 0.47) !important;
    background: #FFF;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
}
.table-title{
    background: #239F49 !important;
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    height: 45px;
    padding-bottom: 20px;
}
.rounded-top-left {
    border-top-left-radius: 5px; 
}
.rounded-top-right {
    border-top-right-radius: 5px;
}
tr > td{
    border-bottom:1px solid rgba(35, 159, 73, 0.47) !important;
    font-family: Hind Madurai;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.ssoheading{
    color: rgba(0, 0, 0, 0.84);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
}