.table-bordered{
    border: 1px solid rgba(35, 159, 73, 0.47) !important;
    background: #FFF;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
}
.table-title{
    background: #239F49 !important;
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    height: 45px;
    padding-bottom: 20px;
}
.rounded-top-left {
    border-top-left-radius: 5px; 
}
.rounded-top-right {
    border-top-right-radius: 5px;
}
tr > td{
    border-bottom:1px solid rgba(35, 159, 73, 0.47) !important;
    color: rgb(0, 0, 0);
    font-family: Hind Madurai;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}
.acceptButton{
    border: 1px solid #239F49;
    border-radius: 3px;
    background: rgb(3, 249, 3);
    height: 40px;
}
.declineButton{
    border: 1px solid rgb(234, 56, 56);
    border-radius: 3px;
    background: rgb(255, 117, 117);
    height: 40px;

}


.visitorApprovalContainer{
    border-radius: 10px;
    border: 1px solid rgba(35, 159, 73, 0.33);
    background: #FFF;
}
.message{
    color: rgba(0, 0, 0, 0.87);
    font-family: Hind Madurai;
    font-size: 14px;
    font-weight: 400;
}
.timeDate{
    color: rgba(0, 0, 0, 0.67);
    font-family: Hind Madurai;
    font-size: 12px;
    font-weight: 400;
}
.approve-button{
    height: 39px;
    border-radius: 2px;
    background: #239F49;
    color: #FFF;
    border: none;

}
.decline-button{
    height: 39px;
    border-radius: 2px;
    border: 1px solid #FF6A6A;
    background: rgba(0, 0, 0, 0.00);

}
.decline-button-form{
    height: 39px;
    border-radius: 2px;
    border: 1px solid #FF6A6A;
    color: #FFF;
    background-color: #FF6A6A;
}

/* modal */
.modal-content{
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.62);
    background: #FFF;
}
.modal-title{
    color: rgba(0, 0, 0, 0.94);
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 700;
}
.visitor-detail{
    font-size: 14px;
    height: 41px;
    width: 48%;
    border: 1px solid rgba(0, 0, 0, 0.09);
    background: rgba(238, 238, 238, 0.45);
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.numberStudentleave,.sortStudent{
    border-radius: 10px;
    background: transparent;
    border: 1.4px solid #239f485d;
    height: 65px;
}
.dropdown-arrow{
    position: absolute;
    right: 20px;
}
.dropdown_button{
    border: 1.4px solid #239f48e0 !important;
    border-radius: 20px !important;
}
.dropdown_button:focus{
    box-shadow: 0px 1px 5px 3px rgba(35,159,72,1) !important;
    -webkit-box-shadow: 0px 1px 5px 3px rgba(35,159,72,1) !important;
    -moz-box-shadow: 0px 1px 5px 3px rgba(35,159,72,1) !important;
}
.dropdown-menu {
    border-radius: 10px !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.dropdown-item:active{
    background-color: #239F49 !important;
}
.btn-close:focus{
    box-shadow: 0px 0px 0px 2.5px #239f48e0 !important;
}
  