.visitors-number{
    width: 100%;
    height: 87px;
    border-radius: 10px;
    background: #239F49;
    color: #fff;
}
.number-visitors{
    color: #FFF;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}
.line{
    width: 7px;
    height: 40px;
    background-color: #fff;
}
.sub-heading-text-hr{
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

/* visitors table */
.table-bordered{
    border: 1px solid rgba(35, 159, 73, 0.47) !important;
    background: #FFF;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
}
.table-title{
    background: #239F49 !important;
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    height: 45px;
    padding-bottom: 20px;
}
.rounded-top-left {
    border-top-left-radius: 5px; 
}
.rounded-top-right {
    border-top-right-radius: 5px;
}
tr > td{
    border-bottom:1px solid rgba(35, 159, 73, 0.47) !important;
    color: rgba(0, 0, 0, 0.64);
    font-family: Hind Madurai;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}
.noOfVisitorButton{
    background: transparent;
    border: none;
    text-align: center;
}
.VisitorNumber{
    width: 30px;
    height: 20px;
    border-radius: 2px;
    border: 1.5px solid #f56f2c9c;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00000096;
    font-weight: 700;
    font-size: 10px;
    transition: all 0.3s ease;
}
.VisitorNumber:hover{
    background-color: #f56f2c;
    color: #fff;
    font-weight: 900;
}
.vistornamesHeading{
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}
.visitorsName{
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}


/* Visitors record */

.visitors-record-heading{
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.sort_by_date_button{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgba(35, 159, 73, 0.41);
    background: #FFF;
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

}

.date-container{
    width: 400px;
    height: 50vh;
    border: 1px solid #239F49;
}

/*  */