.visitorApprovalContainer{
    border-radius: 10px;
    border: 1px solid rgba(35, 159, 73, 0.33);
    background: #FFF;
}
.message{
    color: rgba(0, 0, 0, 0.87);
    font-family: Hind Madurai;
    font-size: 14px;
    font-weight: 400;
}
.timeDate{
    color: rgba(0, 0, 0, 0.67);
    font-family: Hind Madurai;
    font-size: 12px;
    font-weight: 400;
}
.approve-button{
    height: 39px;
    border-radius: 2px;
    background: #239F49;
    color: #FFF;
    border: none;

}
.decline-button{
    height: 39px;
    border-radius: 2px;
    border: 1px solid #FF6A6A;
    background: rgba(0, 0, 0, 0.00);

}
.decline-button-form{
    height: 39px;
    border-radius: 2px;
    border: 1px solid #FF6A6A;
    color: #FFF;
    background-color: #FF6A6A;
}

/* modal */
.modal-content{
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.62);
    background: #FFF;
}
.modal-title{
    color: rgba(0, 0, 0, 0.94);
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 700;
}
.visitor-detail{
    font-size: 14px;
    
}